body{
    background: linear-gradient(to right, #123,rgb(10, 10, 59) ,#123);
    color: white;
}

h1{
    text-transform: capitalize;
    text-shadow:2px 2px 5px rgb(128, 58, 58);
    font-size: 40px;
    word-spacing: 1px;
    margin-left: 5px;
    color: aqua;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.about_us{
    margin: 10px;
    width: 90%; 
    height: 100%;
}

h3{
    width: 95%;
    margin-left: 20px;
    text-align: justify;
    text-transform: capitalize;
    word-spacing: 1px;
    margin-bottom:50px ;
    font-size: x-large;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 12vh;
    text-align: center;
    width: 100%;
    background-color: #123;
    background: linear-gradient(to right, #123,rgb(20, 27, 34) ,rgb(16, 22, 27));
    box-shadow: 5px 5px 5px #001;
}

header h1{
    font-size: 70px;
    text-align: center  ;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

.content{
    display: flex;
}

hr{
    margin: 10px;
}

.media{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.media h3{
    color: aqua;
    font-weight: 900;
    font-size: 21px;
    text-align: justify;
}

a{
    font-size:25px;
    margin: 10px;
    margin-bottom: 90px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: aliceblue;
}
  
  .fa:hover {
      opacity: 0.7;
}
  
  .fa-facebook-f {
    border:1px solid white;
    border-radius: 50%;
}

.fa-facebook-f:hover{
    background: #3B5998;
}

.fa-twitter {
    border:1px solid white;
    border-radius: 50%;
}

.fa-twitter:hover {
    background: #55ACEE;
}

.fa-youtube-play {
    border:1px solid white;

    border-radius: 50%;
}

.fa-youtube-play:hover {
    background: rgb(255, 0, 0);
}

.fa-instagram {
    border:1px solid white;
    border-radius: 50%;
}

.fa-instagram:hover{
    background: #125688;
}

.fa-pinterest {
    border:1px solid white;
    border-radius: 50%;
}

.fa-pinterest:hover {
    background: #cb2027;
}

.fa-telegram{
    border:1px solid white;
    border-radius: 50%;
}

.fa-telegram:hover {
    background-color: rgb(2, 166, 221);
}



        .send_a_Report{
	    width:1000px ;
        height: 40vh ;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        textarea{
            width: 800px;
            height: 500px;
            max-width: 800px;
            max-height: 500px;
            align-self: self-start;
        }

        button{
            width:200px ;
            height: 50px;
            align-self: flex-end;
            position: relative;
            right: 100px;
        }
        form{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: row;
            background: linear-gradient(to right, #123,rgb(14, 24, 34) ,rgb(16, 22, 27));
        }
