body{
    background-color: #001;
    color: white;
    background-image: url('../../../images/dark bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-transform: capitalize;
    text-shadow:2px 2px 5px rgb(128, 58, 58);
    font-size: 25px;
    font-family:'Lato', sans-serif;
    word-spacing: 1px;
    margin-left: 5px;
    color: aqua;
}

.about_us,.media{
    box-shadow: 5px 5px 5px #001;
    border-radius: 10px;
}
.about_us{
    background: linear-gradient(to right, #123,rgb(10, 10, 59) ,#123);
    margin: 10px;
    width: 70%; 
    height: 110vh;
}

h3{
    width: 95%;
    margin-left: 20px;
    text-align: justify;
    word-spacing: 1px;
    font-family:'Lato', sans-serif;
    margin-bottom:50px ;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 12vh;
    text-align: center;
    width: 100%;
    background-color: #123;
    background: linear-gradient(to right, #123,rgb(20, 27, 34) ,rgb(16, 22, 27));
    box-shadow: 5px 5px 5px #001;
}

header h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.content{
    display: flex;
}

.media{
    background: linear-gradient(to right, #123,rgb(20, 27, 34) ,rgb(16, 22, 27));
    margin: 10px;
    width: 30%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.media h3{
    color: aqua;
    font-weight: 900;
    font-size: 21px;
    text-align: justify;
}

a{
    font-size:25px;
    margin: 15px;  
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}
  
  .fa:hover {
      opacity: 0.7;
}
  
  .fa-facebook-f {
    background: #3B5998;
    border-radius: 50%;
}

.fa-twitter {
    background: #55ACEE;
    border-radius: 50%;
}

.fa-youtube-play {
    background: rgb(255, 0, 0);
    border-radius: 50%;
}

.fa-instagram {
    background: #125688;
    border-radius: 50%;
}

.fa-pinterest {
    background: #cb2027;
    border-radius: 50%;
}

.fa-telegram{
    background-color: rgb(2, 166, 221);
    border-radius: 50%;
}


        .send_a_Report{
	    width:1000px ;
        height: 40vh ;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        textarea{
            width: 800px;
            height: 500px;
            max-width: 800px;
            max-height: 500px;
            align-self: self-start;
        }

        button{
            width:200px ;
            height: 50px;
            align-self: flex-end;
            position: relative;
            right: 100px;
        }
        form{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: row;
            background: linear-gradient(to right, #123,rgb(14, 24, 34) ,rgb(16, 22, 27));
        }
